.full{
	background-color: #FF4848;
	color:white;
}
.full > .caption{
	color:white;
}

.empty{
	background-color: #1FCB4A;
	color:white;
}
.empty > .caption{
	color:white;
}

.greaterMiddle{
	background-color: #B6BA18;
	color:white;
}
.greaterMiddle > .caption{
	color:white;
}

.show_amount > span{
	font-size: 2.4rem;
}